---
import VideoImageBackground from "./VideoImageBackground.astro";

interface Props {
    className?: string;
    title: string;
    description?: string;
    slug: string;
    imageSrcLandscape?: string;
    imageSrcPortrait?: string;
    imageAlt?: string;
    videoSrc?: string;
}

const {
    className,
    title,
    description,
    slug,
    imageSrcLandscape,
    imageSrcPortrait,
    imageAlt,
    videoSrc,
} = Astro.props;
---

<a
    class={`project-card ${className ?? ""} js-project-card`}
    href={`/work/${slug}`}
    aria-label={`View project: ${title}`}
    data-content-slug={slug}
>
    <VideoImageBackground
        imageSrcLandscape={imageSrcLandscape}
        imageSrcPortrait={imageSrcPortrait}
        imageAlt={imageAlt ?? title}
        videoSrc={videoSrc}
    />

    <div class="project-card__content">
        <div class="project-card__content-inner">
            <span class="project-card__title">{title}</span>
            <span class="project-card__text">{description}</span>
        </div>
    </div>
</a>
