---
interface Props {
    data: {
        years: Array<{
            year: number | string;
            items: Array<{
                title: string;
                author: string;
                url?: string;
            }>;
        }>;
    };
}

const { data } = Astro.props;
---

<div class="l-section">
    <div class="l-container">
        {
            data.years?.map((year) => (
                <div class="list-2col">
                    <div class="list-2col__unit list-2col__unit--title">
                        <div class="list-title">{year?.year}</div>
                    </div>

                    <div class="list-2col__unit list-2col__unit--list">
                        {year?.items?.map((item) => (
                            <div class="list-3col list-3col--reading">
                                {item?.url ? (
                                    <a
                                        class="list-link"
                                        href={item?.url}
                                        target="_blank"
                                    >
                                        {item?.title}
                                    </a>
                                ) : (
                                    <div class="list-text">{item?.title}</div>
                                )}

                                <div class="list-text list-text--author">
                                    {item?.author}
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</div>
