---
export const prerender = true;

import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import BannerPost from "../../components/BannerPost.astro";
import ButtonGroup from "../../components/ButtonGroup.astro";
import CustomContent from "../../components/Content.astro";

export async function getStaticPaths() {
	const workItems = await getCollection("work");
	return workItems.map((item) => ({
		params: { slug: item.slug },
		props: { item },
	}));
}

const { item } = Astro.props;
const data = item.data;
const { Content } = await item.render();

const primaryButton = data?.link
	? {
			label: "View website",
			url: data?.link ?? "",
			target: "_blank",
		}
	: undefined;
const secondaryButton = {
	label: "Back to all projects",
	url: "/work",
};
---

<Layout
	title={`${data.title} | WordPress project by Blake Zajac | STRD`}
	description={data.description ??
		"A WordPress project designed and developed by Blake Zajac."}
	schema={{
		"@context": "https://schema.org",
		"@type": "WebPage",
		name: `${data.title} | WordPress project by Blake Zajac`,
		url: `https://blakezajac.com/work/${item.slug}`,
	}}
>
	<BannerPost
		title={data.title}
		content={data.description}
		imageSrcLandscape={data.imageSrcLandscape}
		imageSrcPortrait={data.imageSrcPortrait}
		imageAlt={data.title}
		videoSrc={data.videoSrc}
		primaryButton={primaryButton}
		secondaryButton={secondaryButton}
	/>

	<!-- <div class="l-section">
		<div class="l-container">
			<ButtonGroup
				primaryButton={primaryButton}
				secondaryButton={secondaryButton}
			/>
		</div>
	</div> -->

	<CustomContent>
		<Content />
	</CustomContent>
</Layout>
